<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right search -->

  <div class="navbar-wagon-search navbar-wagon-right">
    <form action="/" class="form-inline hidden-xs">
        <input type="text" placeholder="Search by name" name="query" class="form-control input">
        <button type="submit" class="form-control btn-search">
          <i class="fa fa-search"></i>
        </button>
      </form>
  </div>

  <!-- Dropdown list appearing on mobile only -->
</div>
